
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <environment include="Development">
        <script src="~/lib/jquery/jquery-3.0.0.js"></script>
    </environment>
</head>
<body>
    <h1>AAA</h1>
    <script type="text/javascript">
        $(function () {
            alert("xxxx");
        })
    </script>
</body>
</html>
